<body class="index-page">

    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">
            <img src="~/assets/img/wllpaperdevelpment.jpg" />
            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <h2>Sebastian Acero León</h2>
                <p>Ing. <span class="typed" data-typed-items="Desarrollador, Desarrollador Web, Desarrollador FullStack, Analista Web, Analista de DB">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
            </div>

        </section><!-- /Hero Section -->
        <!-- About Section -->
        <section id="about" class="about section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Sobre mi</h2>
                <p>
                    Soy una persona responsable, amable y puntual, valores que, junto con mi capacidad de aprendizaje, me han permitido destacar en los distintos roles que he asumido a lo largo de mi vida. Cuento con una sólida capacidad de análisis e interpretación de información, lo que me permite diseñar algoritmos que, al implementarse en software, brindan soluciones eficaces a problemas cotidianos. Estoy siempre dispuesto y abierto al aprendizaje continuo, buscando crecer como una persona íntegra en todos los contextos de mi vida: personal, familiar y laboral.
                </p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4 justify-content-center">
                    <div class="col-lg-4">
                        <img src="~/assets/img/sebastianaceroleon.png" />
                    </div>
                    <div class="col-lg-8 content">
                        <h2>Desarrollador Web &amp; Analista.</h2>
                        <p class="fst-italic py-3">
                            Desarrollador Web FullStack | ASP.Net | Core | C# | Node Js | JavaScript | TypeScript | HTML5 | CCS | Angular Js | Microsoft SQL server | MySQL | GIT | Postman | Ingeniero Electrónico | Especialista en Ingenieria de Software |.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Cumpleaños:</strong> <span>28 Marzo 1999</span></li>
                                    <li><i class="bi bi-chevron-right"></i><strong>Sitio Web:</strong><a href="https://walaswebsite-mvc-ajd6dmh5g5csd6bb.brazilsouth-01.azurewebsites.net" target="_blank">https://walaswebsite-mvc-ajd6dmh5g5csd6bb.brazilsouth-01.azurewebsites.net</a></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Teléfono:</strong> <span>(+57) 319 210 6183</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Ciudad:</strong> <span>Bogotá D.C.</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Edad:</strong> <span>25</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Grado:</strong> <span>Especialista en Ingenieria de Software</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>sebastianaceroleon@outlook.com</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                                </ul>
                            </div>
                        </div>
                        <p class="py-3">
                            ;).
                        </p>
                    </div>
                </div>

            </div>

        </section><!-- /About Section -->
        <!-- Stats Section -->
        <section id="stats" class="stats section">

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item">
                            <i class="bi bi-emoji-smile"></i>
                            <span data-purecounter-start="0" data-purecounter-end="62" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Clientes felices</strong> <span>Con las mejoras de codigo y entregas puntuales.</span></p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item">
                            <i class="bi bi-journal-richtext"></i>
                            <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Proyectos</strong> <span>Nacionales e internacionales.</span></p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item">
                            <i class="bi bi-headset"></i>
                            <span data-purecounter-start="0" data-purecounter-end="8760" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Horas de soporte</strong> <span>Continua.</span></p>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item">
                            <i class="bi bi-people"></i>
                            <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Equipos de trabajo</strong> <span>En despligues continuos.</span></p>
                        </div>
                    </div><!-- End Stats Item -->

                </div>

            </div>

        </section><!-- /Stats Section -->
        <!-- Skills Section -->
        <section id="skills" class="skills section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Habilidades</h2>
                <p>Si hay algo que define mi camino en el desarrollo de software es mi constante aprendizaje y mejora. A lo largo de mi carrera, he trabajado con diversas tecnologías, desde el backend robusto hasta interfaces atractivas, y me gusta medir cómo manejo cada una de estas áreas. No soy perfecto, pero estoy orgulloso de los porcentajes que voy logrando. ¡Aquí van mis habilidades!</p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row skills-content skills-animation">

                    <div class="col-lg-6">

                        <div class="progress">
                            <span class="skill"><span>HTML</span> <i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><!-- End Skills Item -->

                        <div class="progress">
                            <span class="skill"><span>CSS</span> <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><!-- End Skills Item -->

                        <div class="progress">
                            <span class="skill"><span>JavaScript</span> <i class="val">75%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><!-- End Skills Item -->

                        <div class="progress">
                            <span class="skill"><span>TypeScript</span> <i class="val">75%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><!-- End Skills Item -->

                    </div>

                    <div class="col-lg-6">

                        <div class="progress">
                            <span class="skill"><span>.Net</span> <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><!-- End Skills Item -->

                        <div class="progress">
                            <span class="skill"><span>SQL Server</span> <i class="val">95%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><!-- End Skills Item -->

                        <div class="progress">
                            <span class="skill"><span>Angular</span> <i class="val">75%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><!-- End Skills Item -->

                        <div class="progress">
                            <span class="skill"><span>Node</span> <i class="val">65%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div><!-- End Skills Item -->

                    </div>

                </div>

            </div>

        </section><!-- /Skills Section -->
        <!-- Resume Section -->
        <section id="resume" class="resume section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Resumen</h2>
                <p>
                    👋 ¡Hola! Soy Sebastián Acero León, Ingeniero Electrónico egresado de la Universidad Santo Tomás.<br /><br />

                    👨🏻‍🎓 Mi formación académica y profesional ha sido muy enriquecedora, tanto en la universidad como en mi trabajo actual. En ambos ámbitos, he experimentado un crecimiento continuo como persona y profesional. A lo largo de mi carrera, he recibido un reconocimiento destacado en programación, lo que me llevó a ser monitor de la materia durante varios semestres consecutivos. Esta experiencia me permitió ampliar mi perspectiva y definir claramente lo que quiero lograr en mi carrera.<br /><br />

                    👨🏻‍💼 Profesionalmente, me siento muy afortunado, ya que desde temprana edad logré conseguir un puesto como Analista de Base de Datos en SQL, lo que me brindó una sólida base para convertirme en un profesional competitivo en el mercado. He tenido el privilegio de trabajar para grandes empresas, como Seguros del Estado. Además, obtuve un ascenso a Desarrollador Web FullStack en una prueba interna de la empresa, lo que me ha impulsado a seguir aprendiendo cada día y aspirar a convertirme en uno de los mejores desarrolladores dentro de mi equipo.<br /><br />

                    🙋🏻‍♂️ Mi personalidad se caracteriza por ser amigable, extrovertido y capaz de establecer relaciones fácilmente. Me gusta transmitir tranquilidad a las personas a mi alrededor, y he tenido la fortuna de recibir ese mismo apoyo en mis relaciones personales.<br /><br />

                    🎯 Mis objetivos a corto y mediano plazo incluyen continuar mi formación, aprender más sobre programación y obtener títulos adicionales, como una especialización y una maestría. También tengo como metas personales terminar de pagar mi automóvil, adquirir una vivienda propia, aprender a tocar el piano y viajar a lugares extraordinarios, lo cual ha sido un sueño que he perseguido por mucho tiempo.<br /><br />
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row">

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="resume-title">Resumen</h3>

                        <div class="resume-item pb-0">
                            <h4>Sebastian Acero León</h4>
                            <p><em>Soy Sebastián Acero León, un desarrollador apasionado por la tecnología y con más de 3 años de experiencia en la creación de soluciones de software centradas en el usuario. A lo largo de mi carrera, he diseñado y desarrollado aplicaciones web y soluciones digitales utilizando las últimas tecnologías y metodologías ágiles. Mi enfoque está en cumplir con los plazos establecidos, siempre con un alto nivel de calidad y optimización. Estoy comprometido con el aprendizaje continuo y la mejora constante en cada proyecto que emprendo.</em></p>
                            <ul>
                                <li>Colombia, Bogtá D.C</li>
                                <li>(+57) 319 210-6183</li>
                                <li>sebastianaceroleon@outlook.com</li>
                            </ul>
                        </div><!-- Edn Resume Item -->

                        <!-- EDUCACION FORMAL -->
                        <h3 class="resume-title">Educación Formal</h3> <!-- Edn EDUCACION FORMAL -->

                        <div class="resume-item">
                            <h4>Especialista en Ingeniería de Software</h4>
                            <h5>2024 - 2025-1</h5>
                            <p><em>Universidad Distrital Francisco José de Caldas. &amp; Bogotá D.C, CO</em></p>
                            <p>Actualmente, desarrollo competencias avanzadas en diseño, implementación y gestión de proyectos de software, con énfasis en metodologías como Domain-Driven Design (DDD) y la creación de soluciones tecnológicas innovadoras que se ajusten a las necesidades del mundo real.</p>
                        </div><!-- Edn Resume Item -->

                        <div class="resume-item">
                            <h4>Diplomado FullStack</h4>
                            <h5>2023 - 2024</h5>
                            <p><em>Universidad Piloto &amp; Bogotá D.C, CO</em></p>
                            <p>Me enfoqué en dominar herramientas y tecnologías de desarrollo FullStack, incluyendo lenguajes como JavaScript, frameworks como Angular y Node.js, y la integración con bases de datos relacionales y no relacionales para crear aplicaciones web dinámicas y robustas.</p>
                        </div><!-- Edn Resume Item -->

                        <div class="resume-item">
                            <h4>Ingeniero Electrónico</h4>
                            <h5>2016 - 2023-1</h5>
                            <p><em>Universidad Santo Tomas. &amp; Bogotá D.C, CO</em></p>
                            <p>Durante mi formación, adquirí conocimientos sólidos en diseño de sistemas electrónicos y programación de hardware, destacándome en proyectos de automatización, IoT y desarrollo de software embebido con microcontroladores como Arduino y ESP32.</p>
                        </div><!-- Edn Resume Item -->

                        <div class="resume-item">
                            <h4>Bachiller Académico</h4>
                            <h5>2001 - 2015</h5>
                            <p><em>Instituto Mayor de Occidente. &amp; Bogotá D.C, CO</em></p>
                            <p>Formación académica que sentó las bases de mi disciplina, responsabilidad y habilidades en matemáticas, ciencias y lógica, las cuales me impulsaron a explorar y desarrollarme en áreas tecnológicas y de ingeniería.</p>
                        </div><!-- Edn Resume Item -->

                        <!-- EDUCACION NO FORMAL -->
                        <h3 class="resume-title">Educación No Formal</h3><!-- Edn EDUCACION NO FORMAL -->

                        <div class="resume-item">
                            <h4>Certificación en SQL Server : Programacion avanzada</h4>
                            <h5>2022 - 2022</h5>
                            <p><em>Udemy, Bogotá D.C, CO</em></p>
                            <p>Curso que profundizó mis conocimientos en SQL Server, permitiéndome optimizar consultas y gestionar bases de datos con mayor eficiencia en proyectos tecnológicos.</p>
                        </div><!-- Edn Resume Item -->

                        <div class="resume-item">
                            <h4>Certificación en SCRUM Master</h4>
                            <h5>2022 - 2022</h5>
                            <p><em>Udemy, Bogotá D.C, CO</em></p>
                            <p>Formación que me permitió gestionar proyectos ágiles con Scrum, optimizando la colaboración y la entrega de proyectos tecnológicos de manera eficiente.</p>
                        </div><!-- Edn Resume Item -->

                        <div class="resume-item">
                            <h4>Certificacion Excel Avanzado</h4>
                            <h5>2021 - 2021</h5>
                            <p><em>Universidad Santo Tomás, Bogotá D.C, CO</em></p>
                            <p>Curso que fortaleció mis habilidades en la gestión de datos, automatización de procesos y análisis de información, mejorando mi eficiencia en la manipulación de grandes volúmenes de datos.</p>
                        </div><!-- Edn Resume Item -->

                        <div class="resume-item">
                            <h4>Ingles nivel : B2</h4>
                            <h5>2014 - 2016</h5>
                            <p><em>American School Way, Bogotá D.C, CO</em></p>
                            <p>Curso que mejoró mi comprensión y expresión en inglés, facilitando mi comunicación en entornos profesionales internacionales y el acceso a información técnica en inglés.</p>
                        </div><!-- Edn Resume Item -->

                    </div>

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                        <h3 class="resume-title">Experencia Profesional</h3>
                        <div class="resume-item">
                            <h4>Ingeniero Desarrollador Informático</h4>
                            <h5>2024/06/06 - Actualmente</h5>
                            <p><em>Tech Education, Colombia, Bogotá D.C </em></p>
                            <ul>
                                <li>Desarrollar y mantener soluciones backend utilizando C# con .NET ASP Core y JavaScript.</li>
                                <li>Levantar y documentar requerimientos siguiendo normas ISO.</li>
                                <li>Resolver incidencias, realizar mejoras en el código e implementar nuevos desarrollos.</li>
                                <li>Utilizar servicios de Azure, como Logic Apps, monitoreo de BusService y despliegues continuos.</li>
                                <li>Crear y mantener documentación conforme a normas ISO, incluyendo la documentación de APIs con Swagger.</li>
                                <li>Gestionar el control de versiones utilizando Git y Bitbucket, y manejar asignación y documentación de tareas en Jira.</li>
                                <li>Optimizar, depurar y desarrollar procedimientos almacenados en bases de datos Microsoft SQL Server y MySQL.</li>
                                <li>Realizar tareas en bases de datos, como creación y actualización de tablas, funciones, vistas e índices.</li>
                                <li>Trabajar con VPNs y conexiones remotas para acceso a servidores y bases de datos.</li>
                            </ul>
                        </div><!-- Edn Resume Item -->

                        <div class="resume-item">
                            <h4>Desarrollador Web Full Stack Jr</h4>
                            <h5>2022 - 2024</h5>
                            <p><em>Transfiriendo, Colombia, Bogotá D.C</em></p>
                            <ul>
                                <li>Desarrollar y mantener funcionalidades tanto en FrontEnd como en BackEnd utilizando tecnologías como C#, Node.js en .NET, Angular, HTML5, CSS, TypeScript y JavaScript.</li>
                                <li>Solucionar errores y realizar mejoras estructurales en la plataforma.</li>
                                <li>Crear nuevos módulos en la plataforma y generar paquetes de publicación para ambientes de pruebas.</li>
                                <li>Utilizar conexiones remotas y VPN para acceso al servidor y despliegues.</li>
                                <li>Gestionar el control de versiones mediante Git, realizando cambios y commits en la plataforma.</li>
                                <li>Optimizar, corregir y crear nuevos procedimientos almacenados en Microsoft SQL Server.</li>
                                <li>Realizar tareas en bases de datos, incluyendo la búsqueda de información, creación de tablas e índices, y planteamientos de optimización.</li>
                            </ul>
                        </div><!-- Edn Resume Item -->

                        <div class="resume-item">
                            <h4>Analista funcional de base de datos Ssr</h4>
                            <h5>2021 - 2022</h5>
                            <p><em>Transfiriendo, Colombia, Bogotá D.C</em></p>
                            <ul>
                                <li>Analizar y optimizar bases de datos para mejorar su rendimiento y resolver casos específicos.</li>
                                <li>Crear y ejecutar consultas SQL para solucionar errores, realizar cruces de información y generar informes para clientes.</li>
                                <li>Diseñar e implementar planes de trabajo enfocados en satisfacer las necesidades de los clientes.</li>
                                <li>Levantar y documentar requerimientos de clientes para la implementación de mejoras y nuevas funcionalidades en el software.</li>
                                <li>Realizar análisis detallados de casos solicitados y ofrecer soluciones efectivas utilizando metodología Scrum.</li>
                                <li>Entregar información precisa al cliente mediante cruces de datos y elaboración de informes detallados.</li>
                                <li>Colaborar en proyectos de facturación electrónica con la implementación de nuevas versiones y actualizaciones de software.</li>
                            </ul>
                        </div><!-- Edn Resume Item -->

                        <div class="resume-item">
                            <h4>Analista funcional de base de datos Jr</h4>
                            <h5>2020 - 2021</h5>
                            <p><em>Transfiriendo, Colombia, Bogotá D.C</em></p>
                            <ul>
                                <li>Analizar consultas en bases de datos para resolver casos y mejorar el rendimiento de las mismas.</li>
                                <li>Optimizar bases de datos mediante mejoras estructurales y creación de índices.</li>
                                <li>Diseñar y ejecutar consultas SQL para la solución de errores, cruces de información y entrega de datos a los clientes.</li>
                                <li>Realizar análisis y procesamiento de documentos en Excel, integrando datos para generar informes detallados.</li>
                                <li>Implementar nuevas versiones y mejoras en software de facturación electrónica en colaboración con los clientes.</li>
                                <li>Atender y gestionar solicitudes de clientes, proporcionando soluciones basadas en un análisis exhaustivo de los casos.</li>
                                <li>Desarrollar planes de trabajo orientados a optimizar procesos y ofrecer resultados positivos a los clientes.</li>
                            </ul>
                        </div><!-- Edn Resume Item -->

                    </div>

                </div>

            </div>

        </section><!-- /Resume Section -->
        <!-- Portfolio Section -->
        <section id="portfolio" class="portfolio section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Portfolio</h2>
                <p>A lo largo de mi carrera, he tenido la oportunidad de trabajar en diversos proyectos que reflejan mi habilidad y dedicación como desarrollador. Mi portafolio incluye una variedad de trabajos, desde aplicaciones web hasta soluciones innovadoras para diferentes industrias. Cada uno de estos proyectos representa no solo mis conocimientos técnicos, sino también mi compromiso con la calidad y la mejora continua. Te invito a explorar algunas de las soluciones que he creado y los resultados que he logrado.</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                    <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-product">Product</li>
                        <li data-filter=".filter-branding">Branding</li>
                        <li data-filter=".filter-books">Books</li>
                    </ul><!-- End Portfolio Filters -->

                    <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/app-1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>App 1</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/app-1.jpg" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/product-1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Product 1</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/product-1.jpg" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/branding-1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Branding 1</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/branding-1.jpg" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/books-1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Books 1</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/books-1.jpg" title="Branding 1" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/app-2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>App 2</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/app-2.jpg" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/product-2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Product 2</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/product-2.jpg" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/branding-2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Branding 2</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/branding-2.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/books-2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Books 2</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/books-2.jpg" title="Branding 2" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/app-3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>App 3</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/app-3.jpg" title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/product-3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Product 3</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/product-3.jpg" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/branding-3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Branding 3</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/branding-3.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                            <div class="portfolio-content h-100">
                                <img src="~/assets/img/portfolio/books-3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Books 3</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="~/assets/img/portfolio/books-3.jpg" title="Branding 3" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                    <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Portfolio Item -->

                    </div><!-- End Portfolio Container -->

                </div>

            </div>

        </section><!-- /Portfolio Section -->
        <!-- Services Section -->
        <section id="services" class="services section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Services</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
                        <div>
                            <h4 class="title"><a href="service-details.html" class="stretched-link">Lorem Ipsum</a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
                        <div>
                            <h4 class="title"><a href="service-details.html" class="stretched-link">Dolor Sitema</a></h4>
                            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
                        <div>
                            <h4 class="title"><a href="service-details.html" class="stretched-link">Sed ut perspiciatis</a></h4>
                            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
                        <div>
                            <h4 class="title"><a href="service-details.html" class="stretched-link">Magni Dolores</a></h4>
                            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
                        <div>
                            <h4 class="title"><a href="service-details.html" class="stretched-link">Nemo Enim</a></h4>
                            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="600">
                        <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
                        <div>
                            <h4 class="title"><a href="service-details.html" class="stretched-link">Eiusmod Tempor</a></h4>
                            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>

        </section><!-- /Services Section -->
        <!-- Testimonials Section -->
        <section id="testimonials" class="testimonials section light-background">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Referencias</h2>
                <p>¡Las referencias son una parte importante de mi trayectoria profesional! Si deseas conocer más sobre mi desempeño y habilidades, estaré encantado de proporcionarlas. Tengo una red sólida de colegas y supervisores que pueden dar fe de mi trabajo y compromiso. Puedes contactarme para obtener más detalles.</p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                          "loop": true,
                          "speed": 600,
                          "autoplay": {
                            "delay": 5000
                          },
                          "slidesPerView": "auto",
                          "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                          },
                          "breakpoints": {
                            "320": {
                              "slidesPerView": 1,
                              "spaceBetween": 40
                            },
                            "1200": {
                              "slidesPerView": 3,
                              "spaceBetween": 1
                            }
                          }
                        }
                    </script>
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Sebastián ha demostrado ser un profesional con una gran capacidad para abordar proyectos complejos. Su enfoque meticuloso y su habilidad para integrar soluciones tecnológicas en tiempo y forma lo han hecho destacar como un miembro clave en cualquier equipo de trabajo. Su habilidad para comunicarse con claridad y liderar iniciativas lo hacen invaluable.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <img src="~/assets/img/testimonials/1-testimonials.jpg" class="testimonial-img" alt="">
                                <h3>Edwin Francisco Forero</h3>
                                <h4>Profesor &amp; Universidad Santo Tomás</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>En mi experiencia trabajando con Sebastián, he notado su capacidad excepcional para analizar y resolver problemas técnicos complejos con rapidez y eficacia. Su ética de trabajo es impecable y siempre busca aprender y crecer profesionalmente. Su enfoque en el detalle y su dedicación son altamente admirables.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <img src="~/assets/img/testimonials/4-testimonials.jpg" class="testimonial-img" alt="">
                                <h3>Carlos Andrés Torres Pinzón</h3>
                                <h4>Decano &amp; Universidad Santo Tomás</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Sebastián es una persona extremadamente confiable y comprometida con los objetivos de su equipo. Durante nuestro tiempo trabajando juntos, mostró un impresionante dominio técnico combinado con una gran capacidad de liderazgo. Su enfoque pragmático y su actitud positiva hicieron que cada proyecto en el que participamos fuera un éxito rotundo.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <img src="~/assets/img/testimonials/3-testimonials.jpg" class="testimonial-img" alt="">
                                <h3>Sandra Milena Escamilla</h3>
                                <h4>Coordinadora de seguridad industrial &amp; Permoda Limitada</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Sebastián siempre ha demostrado una habilidad excepcional para gestionar proyectos de tecnología de manera eficiente. Su enfoque colaborativo y su capacidad para gestionar recursos y tiempos lo hacen un líder natural en el ámbito profesional. Siempre he admirado su capacidad para resolver problemas complejos con soluciones simples y efectivas.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <img src="~/assets/img/testimonials/2-testimonials.jpg" class="testimonial-img" alt="">
                                <h3>Freddy Antonio Rivera</h3>
                                <h4>Coordinador de Compras y almacén &amp; HIDROCASANARE SAS</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bi bi-quote quote-icon-left"></i>
                                    <span>Lo que más destaco de Sebastián es su gran capacidad para afrontar retos con una mentalidad positiva y enfocada en resultados. Tiene un excelente dominio de las herramientas tecnológicas y siempre se asegura de entregar trabajos de la más alta calidad. Su profesionalismo y actitud colaborativa lo hacen una pieza clave en cualquier equipo de trabajo.</span>
                                    <i class="bi bi-quote quote-icon-right"></i>
                                </p>
                                <img src="~/assets/img/testimonials/5-testimonials.jpg" class="testimonial-img" alt="">
                                <h3>Williams Estiven Carvajal Hernández</h3>
                                <h4>Desarrollador .Net</h4>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section><!-- /Testimonials Section -->
        <!-- Contact Section -->
        <section id="contact" class="contact section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Contact</h2>
                <p>¿Tienes alguna pregunta, proyecto o idea en mente? 🧠 <br />
                    ¡Estoy aquí para ayudarte! No dudes en contactarme y juntos encontraremos la mejor solución para tus necesidades. <br />
                    Estoy disponible para colaborar en proyectos de desarrollo web, bases de datos o cualquier desafío tecnológico.
                </p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">

                    <div class="col-lg-5">

                        <div class="info-wrap">
                            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                                <i class="bi bi-geo-alt flex-shrink-0"></i>
                                <div>
                                    <h3>Dirrección</h3>
                                    <p>Carrera 107 c # 70 - 76, Engativa, Villas del Dorado, Bogotá D.C</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                                <i class="bi bi-telephone flex-shrink-0"></i>
                                <div>
                                    <h3>Contactame</h3>
                                    <p>(+57) 319 210 6183</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                                <i class="bi bi-envelope flex-shrink-0"></i>
                                <div>
                                    <h3>Email</h3>
                                    <p><a href="mailto:sebastianaceroleon@outlook.com" target="_blank">sebastianaceroleon@outlook.com</a></p>
                                </div>
                            </div><!-- End Info Item -->

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.3675828431783!2d-74.12805052387189!3d4.706046395268979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9caaed2dba53%3A0x30612e60095663e5!2sCra.%20107c%20%2370-76%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1735918336002!5m2!1ses!2sco" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                            <div class="row gy-4">

                                <div class="col-md-6">
                                    <label for="name-field" class="pb-2">Tu Nombre</label>
                                    <input type="text" name="name" id="name-field" class="form-control" required="">
                                </div>

                                <div class="col-md-6">
                                    <label for="email-field" class="pb-2">Tu Email</label>
                                    <input type="email" class="form-control" name="email" id="email-field" required="">
                                </div>

                                <div class="col-md-12">
                                    <label for="subject-field" class="pb-2">Asunto</label>
                                    <input type="text" class="form-control" name="subject" id="subject-field" required="">
                                </div>

                                <div class="col-md-12">
                                    <label for="message-field" class="pb-2">Mensaje</label>
                                    <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Tu mensaje ha sido enviado, !Gracias¡</div>

                                    <button type="submit">Enviar Mensaje</button>
                                </div>

                            </div>
                        </form>
                    </div><!-- End Contact Form -->

                </div>

            </div>

        </section><!-- /Contact Section -->

    </main>
</body>