name: Build and Deploy ASP.NET Core MVC App to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '8.x'
          include-prerelease: true

      - name: Build the project
        run: dotnet build ./Walas_WebSite_MVC/Walas_WebSite_MVC.csproj --configuration Release

      - name: Publish the project
        run: dotnet publish ./Walas_WebSite_MVC/Walas_WebSite_MVC.csproj -c Release -o ${{env.DOTNET_ROOT}}/myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v3
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: windows-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: .net-app

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'WalasWebSite-MVC'  # Nombre de la aplicaci贸n en Azure
          slot-name: 'Production'       # Si usas un slot de producci贸n
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}  # Se debe almacenar el perfil de publicaci贸n en los secrets
          package: .  # La carpeta donde se encuentra la publicaci贸n
